@import "../../styles/globals.scss";

.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    max-width: 420px;
    
    .FormCircle {
        background-color: map-get($palette, "pale");
        height: 130vh;
        width: 130vh;
        min-height: 700px;
        min-width: 700px;
        position: absolute;
        bottom: 0;
        border-radius: 100%;
        z-index: -1;
    }

    .FormHeader {
        margin-bottom: 2vh;

        h2 {
            font-family: $font-family-serif;
            font-weight: map-get($font-weight, "medium");
            font-style: italic;
            margin: 0 0 .5rem;
        }
    
        h4 {
            text-transform: uppercase;
            font-weight: map-get($font-weight, "light");
            margin: 0;
        }
    }

    .FormMain {
        margin-bottom: 4vh;
        width: 100%;
    }

    button {
        border: none;
        background-color: transparent;
        font-size: initial;
        font-family: $font-family-sans;
        font-weight: map-get($font-weight, "bold");
        font-style: italic;
        margin-top: 1rem;
        pointer-events: auto;
        overflow: hidden;

        span {
            display: block;
        }
    }

    @media screen and (min-width: 620px) {
        .FormCircle {
            height: 150vh;
            width: 150vh;
            min-height: 800px;
            min-width: 800px;
        }

        .FormHeader {
            margin-bottom: 6vh;
        }

        .FormMain {
            margin-bottom: 8vh;
        }
    }
}