@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/CormorantGaramond-Italic.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 500;
    src: url(../fonts/CormorantGaramond-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/CormorantGaramond-MediumItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url(../fonts/OpenSans-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/OpenSans-Italic.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
    font-display: swap;
}
