@import "../../styles/globals.scss";

.Main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    
    .Wrapper {
        // background-image: 
        //     linear-gradient(to right, grey 2px, transparent 2px), 
        //     linear-gradient(to bottom, grey 2px, transparent 2px);
        // background-size: 1em 1em;
        // height: 30em;
        width: 30em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: calc((-15em + 50vw));
        right: 0;
        bottom: 0;
        
        // &::before {
        //     content: "";
        //     position: absolute;
        //     background-color: #ddadaa7c;
        //     top: 12em;
        //     right: 13em;
        //     left: 11em;
        //     bottom: 13em;
        // }

        @media screen and (min-width: 620px) {
            height: 30em;
            width: 30em;
        }
    }
}