.Cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
    font-style: italic;

    img {
        margin-right: .8rem;
    }

    @media screen and (min-width: 620px) {
        bottom: 15vh;
    }
}