@import "../../styles/globals.scss";

.Message {
    padding: 1rem;
    position: absolute;
    max-width: 3em;

    p {
        font-family: $font-family-serif;
        margin: 0 0 .5rem;
        font-size: map-get($font-size, "base-lg");
    }

    div {
        display: flex;
        align-items: center;

        .line {
            background-color: map-get($palette, "gray");
            display: inline-block;
            height: 1px;
            width: 1rem;
            margin-right: .25rem;
        }

        .sender {
            font-style: italic;
            font-size: map-get($font-size, "small");
            overflow: hidden;
            width: 100%;
            display: inline-block;
        }
    }
}